.loader {
  background-color:bisque;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 0.75s, visibility 5s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 2px solid #dddddd;
  border-top-color: #009578;
  border-radius: 0%;
  animation: loading 0.85s ease infinite;

}

@keyframes loading {
  0% { transform: rotate(100deg);
    border-top: 20px solid skyblue;
    align-items: center;
    }
    20%{transform: rotate3d(900deg);
    border-top: 20px solid blue;
  
    }
    40%{transform: rotate3d(1800deg);
    border-top: 20px solid red;
    }
    60%{transform: rotate3d(2600deg);
    border-top: 20px solid pink;
    }
    100% { transform: rotate(3600deg); 
    border-top:20px solid green;
    }
}